/* 구글 아이콘 세팅 */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 40
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    border: 1px solid black;
    justify-content: center;

}

/* ----------최상단 슬라이드 네비----------- */
main>.nav1 {
    border: 1px solid yellow;
    display: flex;
    width: 100vw;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.slider {
    display: flex;
    width: calc(200vw);
    height: 400px;
    transition: 0.5s;
    position: relative;
    animation: slide-nav1 60s infinite;
}

main>.nav1>.slider .nav1-contents {
    padding: 10px;
    width: calc(100vw / 3);
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    border-radius: 20px;
}

main>.nav1 .nav1-contents a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

main>.nav1 .nav1-contents a img {
    width: 100%;
    align-items: center;

}

.controls label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid;
    cursor: pointer;
    z-index: 100;
}

.controls .prev {
    left: 0;
}

.controls .next {
    right: 0px;
}


@keyframes slide-nav1 {
    0% {transform: translateX(0);}
    16.66% {transform: translateX(-33.33vw);}
    33.33% {transform: translateX(-66.66vw);}
    50% {transform: translateX(-100vw);}
    66.66% {transform: translateX(-133.33vw);}
    83.33% {transform: translateX(-166.66vw);}
    100% {transform: translateX(0);}
}

.slider:hover {
    animation-play-state: paused;
}

main>div:nth-child(2){
    max-width: 1280px;
    left: 0;
    right: 0;
    margin: auto;
    
}
/* -------------- nav2 ------------------ */
.nav2>.nav2-contents {
    border-bottom: 1px solid gainsboro;
    height: 151;
    padding-top: 32px;
    margin-bottom: 32px;
    display: flex;
    gap: 30px;
    justify-content: center;
}.nav2>.nav2-contents ul:first-child{
    padding-left: 0;
}
.nav2>.nav2-contents ul {
    list-style: none;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* nav2-contents 호버 이벤트 */
.nav2>.nav2-contents ul:hover {
    border-bottom: 1px solid black;
    color: black;
}

.nav2>.nav2-contents ul:hover li {
    color: black;
}

.nav2>.nav2-contents ul button {
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
}
.nav2>.nav2-contents ul button img{
    height: 90%;
    object-fit: contain;
}

.nav2>.nav2-contents ul li {
    color: #868e96;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    margin: 6px 0;
}

/* -------------------funding-nav-------------------- */
.funding-nav {
    display: flex;
    justify-content: space-between;
    
    padding: 8px 16px 0;
}
.funding-nav ul:first-child{
    padding: 0;
}
.funding-nav ul {
    list-style-type: none;
    display: flex;
    font-size: 14px;
}
.funding-nav ul:first-child{}
.funding-nav ul li:not(:nth-child(1),:nth-child(2)):before{
    content: "|";
}

.funding-nav ul li a {
    margin: 0 8px;
    text-decoration: none;
    color: black;
}
/* ------------------funding-------------------- */
.funding{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.funding>.funding-product{
    width: 300px;
}
.funding>.funding-product li{
    list-style: none;
    margin-bottom: 10px;
}
.funding>.funding-product>li:nth-child(2){
    font-size: 18px;
}
.funding>.funding-product>li:nth-child(2) a{
    color: #00c4c4;
    font-weight: bold;
}
.funding>.funding-product>li:nth-child(3){
    font-size: 16px;
}
.funding>.funding-product>li:nth-child(3) a{
    color: black;
}
.funding>.funding-product>li:nth-child(4){
    font-size: 12px;
}
.funding>.funding-product>li:nth-child(4) a{
    color: #868e96;
}
.funding>.funding-product>li:nth-child(5){
    font-size: 10px;
    display: flex;
}
.funding>.funding-product>li:nth-child(5) ul{
    padding: 0;
    color: black;
    border-radius: 5px;
    background-color: gainsboro;
    margin-right: 10px;
}
.funding>.funding-product li a{
    width: 100%;
    text-decoration: none;
}
.funding>.funding-product li a img{
    width: 100%;
    height: 170px;
    object-fit: contain;
    border-radius: 10px;
}